footer {
  margin-top: 2rem;
  width: 100%;
  height: 9rem;
  background-color: var(--color-bg-varient);
}
footer h5 {
  text-align: center;
}

.footer_icon {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 5.9rem;
}
